<!DOCTYPE html>

<html>
    <head>
        <title>Registration Successful</title>
    </head>
    <body>
        <div>
            The registration was successful. Click <a href="@Url.Action("Index", "Home")">here</a> to register another user.
        </div>
    </body>
</html>